Repository makimakiforest/elder-things-encyclopedia, changes with the labels that .github/labeler.yaml gives for each.
All labels: web, api, e2e, github-actions, docs

.github/labeler.yaml:

web:
  - changed-files:
    - any-glob-to-any-file: "web/src/**/*"
api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"
e2e:
  - changed-files:
    - any-glob-to-any-file: "e2e/**/*"
github-actions:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"
docs:
  - changed-files:
    - any-glob-to-any-file:
      - "README.md"
      - "docs/**/*"

add: orval
  web/package-lock.json
  web/package.json
Labels: none

delete: unnecessary file
  web/src/types/.gitkeep
Labels: web

add: orval config
  web/orval.config.js
Labels: none

add: prettier ignore
  web/.prettierignore
Labels: none

add: genearte orval
  web/src/types/openapi/ping/ping.ts
  web/src/types/openapi/schemas/index.ts
Labels: web

update: README
  README.md
Labels: docs

update: Dockerfile
  api/Dockerfile
  e2e/Dockerfile
  web/Dockerfile
Labels: api, e2e

update: docker-compose
  docker-compose.yaml
Labels: none

update: go mod
  api/go.mod
  api/go.sum
Labels: api

add: generate shell
  api/scripts/generate.sh
Labels: api

update: openapi
  openapi/spec/rest.yaml
Labels: none

add: generate ogen
  api/ogen/oas_cfg_gen.go
  api/ogen/oas_client_gen.go
  api/ogen/oas_handlers_gen.go
  api/ogen/oas_json_gen.go
  api/ogen/oas_labeler_gen.go
  api/ogen/oas_middleware_gen.go
  api/ogen/oas_request_decoders_gen.go
  api/ogen/oas_request_encoders_gen.go
  api/ogen/oas_response_decoders_gen.go
  api/ogen/oas_response_encoders_gen.go
  api/ogen/oas_router_gen.go
  api/ogen/oas_schemas_gen.go
  api/ogen/oas_server_gen.go
  api/ogen/oas_unimplemented_gen.go
Labels: api

add: ping test
  e2e/specs/api/system/ping/get.spec
  e2e/src/test/kotlin/com/makifore/api/Api.kt
Labels: e2e

add: compose up step
  .github/workflows/ci-e2e.yaml
Labels: github-actions

fix: actions
  .github/workflows/ci-e2e.yaml
  e2e/specs/web/page.spec
  e2e/src/test/kotlin/com/makifore/api/Api.kt
Labels: e2e, github-actions

fix: actions
  .github/workflows/ci-e2e.yaml
  e2e/specs/api/system/ping/get.spec
  e2e/src/test/kotlin/com/makifore/Config.kt
  e2e/src/test/resources/.gitkeep
  e2e/src/test/resources/e2e.yaml
Labels: e2e, github-actions

fix: e2e Dockerfile
  e2e/Dockerfile
Labels: e2e

fix: e2e
  e2e/env/default/default.properties
  e2e/manifest.json
  e2e/pom.xml
  e2e/src/test/kotlin/com/makifore/Config.kt
  e2e/src/test/kotlin/com/makifore/ExecutionHooks.kt
  e2e/src/test/kotlin/com/makifore/api/Api.kt
  e2e/src/test/resources/e2e.yaml
Labels: e2e

fix: actions
  .github/workflows/ci-e2e.yaml
Labels: github-actions

fix: e2e
  .github/workflows/ci-e2e.yaml
Labels: github-actions

update: package.json
  web/package-lock.json
  web/package.json
Labels: none

delete: tailwind file
  web/postcss.config.mjs
  web/tailwind.config.ts
Labels: none

update: global.css
  web/src/styles/globals.css
Labels: web

update: top page
  web/src/app/layout.tsx
  web/src/app/page.tsx
Labels: web

update: header
  web/src/layouts/Header.tsx
Labels: web

generate: character domain
  web/src/features/character/components/CharacterCard/index.tsx
  web/src/features/character/domain/.gitkeep
  web/src/features/character/driver/.gitkeep
  web/src/features/character/gateway/.gitkeep
  web/src/features/character/hooks/.gitkeep
  web/src/features/character/useCase/.gitkeep
Labels: web

fix: format
  web/src/app/layout.tsx
Labels: web

fix: e2e dockerfile
  e2e/Dockerfile
Labels: e2e

fix: header style
  web/src/layouts/Header.tsx
Labels: web

add: character domain
  web/src/features/character/domain/character.ts
  web/src/features/character/driver/characterDriver.ts
Labels: web

update: web styles
  web/src/app/layout.tsx
  web/src/app/page.tsx
  web/src/layouts/Header.tsx
Labels: web

add: character openapi
  openapi/spec/rest.yaml
Labels: none

add: init web character driver
  web/src/features/character/driver/.gitkeep
  web/src/features/character/driver/index.ts
Labels: web

add: generate orval types
  web/src/types/openapi/default/default.ts
  web/src/types/openapi/schemas/getCharacters200.ts
  web/src/types/openapi/schemas/getCharacters200CharactersItem.ts
  web/src/types/openapi/schemas/getCharactersDefault.ts
  web/src/types/openapi/schemas/getSystemPingDefault.ts
Labels: web

add: generate ogen types
  api/ogen/oas_client_gen.go
  api/ogen/oas_handlers_gen.go
  api/ogen/oas_json_gen.go
  api/ogen/oas_response_decoders_gen.go
  api/ogen/oas_response_encoders_gen.go
  api/ogen/oas_router_gen.go
  api/ogen/oas_schemas_gen.go
  api/ogen/oas_server_gen.go
  api/ogen/oas_unimplemented_gen.go
  api/ogen/oas_validators_gen.go
Labels: api

fix: web format
  web/src/features/character/driver/index.ts
Labels: web

fix: web top page styles
  web/src/app/layout.tsx
Labels: web

fix: layout style
  web/src/app/layout.tsx
Labels: web

add: character domain
  web/src/features/character/domain/.gitkeep
  web/src/features/character/domain/index.ts
Labels: web

add: character driver
  web/src/features/character/driver/index.ts
Labels: web
